@import "dom_jps_plus_debug_view";
@import "dom_units_view";
@import "dom_world_map_view";

$width: 128em;
$height: 128em;

#canvas {
  font-size: 4px;
  width: $width;
  height: $height;
  margin-left: -$width/2;
  margin-top: -$height/2;
  position: absolute;
  top: 50%;
  left: 50%;
}
