.jps-plus-debug-view {
  position: absolute;

  .-point {
    width: 1em;
    height: 1em;
    position: absolute;

    outline: 1px solid #eee;
  }

  .-n, .-s, .-w, .-e, .-nw, .-ne, .-sw, .-se {
    font-family: monospace;
    font-size: 25%;
    position: absolute;
    width: 3.5em;
    padding: 0 0.25em;
    height: 1.33em;
    line-height: 1.33;
    color: #777;
  }

  .-neg {
    color: #ccc;
  }

  .-e, .-w {
    margin-top: 1.33em;
  }

  .-s, .-se, .-sw {
    margin-top: 2.66em;
  }

  .-ne, .-e, .-se {
    text-align: right;
  }

  .-n, .-s {
    text-align: center;
  }
}
